# –î–æ–º–∞—à–Ω—î –∑–∞–≤–¥–∞–Ω–Ω—è –¥–æ —Ç–µ–º apply(), groupby(), pivot_table()

–í —Ü—å–æ–º—É –¥–æ–º–∞—à–Ω—å–æ–º—É –∑–∞–≤–¥–∞–Ω–Ω—ñ –ø—Ä–æ–¥–æ–≤–∂—É—î–º–æ –ø—Ä–∞—Ü—é–≤–∞—Ç–∏ –∑ –Ω–∞–±–æ—Ä–æ–º –¥–∞–Ω–∏—Ö `supermarket_sales.csv`.

0. –Ü–º–ø–æ—Ä—Ç—É–π—Ç–µ –±—ñ–±–ª—ñ–æ—Ç–µ–∫—É pandas —Ç–∞ –∑—á–∏—Ç–∞–π—Ç–µ –¥–∞–Ω—ñ —É –∑–º—ñ–Ω–Ω—É `df` —Ç–∏–ø—É `pandas.DataFrame`.

In [1]:
import pandas as pd
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

1. –î–æ—Å–ª—ñ–¥–∏–º–æ, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª —Å—É–ø–µ—Ä–º–∞—Ä–∫–µ—Ç—É ('Branch') —î –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–º. –î–ª—è —Ü—å–æ–≥–æ –∑–Ω–∞–π–¥—ñ—Ç—å —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º —ñ –≤–∏—è–≤—ñ—Ç—å, —è–∫–∏–π —Ñ—ñ–ª—ñ–∞–ª –º–∞—î –Ω–∞–π–≤–∏—â–∏–π.

In [62]:
df.head()
# –≤–∏–≤–µ–ª–∞ –¥–ª—è —Å–µ–±–µ –ø–æ–¥–∏–≤–∏—Ç–∏—Å—è –¥–∞—Ç–∞—Ñ—Ä–µ–π–º –≤—Å—ñ—Ö –∫–æ–ª–æ–Ω–æ–∫

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

In [149]:
df.groupby('Payment').size().sort_values(ascending=False)

Payment
Ewallet        345
Cash           344
Credit card    311
dtype: int64

In [24]:
df.columns
# –≤–∏–≤–µ–ª–∞ –¥–ª—è —Å–µ–±–µ –Ω–∞–∑–≤–∏ –≤—Å—ñ—Ö –∫–æ–ª–æ–Ω–æ–∫

Index(['Invoice ID', 'Branch', 'City', 'Customer type', 'Gender',
       'Product line', 'Unit price', 'Quantity', 'Tax 5%', 'Total', 'Date',
       'Time', 'Payment', 'cogs', 'gross margin percentage', 'gross income',
       'Rating'],
      dtype='object')

In [26]:
df.groupby('Branch')['gross income'].agg(['sum']) 
# –≤–∏–≤–æ–∂—É —Å—É–º–∞—Ä–Ω–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –∑–∞ –∫–æ–∂–Ω–∏–º —Ñ—ñ–ª—ñ–∞–ª–æ–º

              sum
Branch
A       5057.1605
B       5057.0320
C       5265.1765

In [66]:
profit_branches = df.groupby('Branch')['gross income'].sum().sort_values(ascending=False)
# —Ç—É—Ç –≤–∂–µ —Å–æ—Ä—Ç—É—é –≤—ñ–¥ –Ω–∞–π–±—ñ–ª—å—à–æ–≥–æ –¥–æ –Ω–∞–π–º–µ–Ω—à–æ–≥–æ

In [76]:
print("–ü—Ä–∏–±—É—Ç–∫–∏ —Ñ—ñ–ª—ñ–∞–ª—ñ–≤:\n", profit_branches)

–ü—Ä–∏–±—É—Ç–∫–∏ —Ñ—ñ–ª—ñ–∞–ª—ñ–≤:
 Branch
C    5265.1765
A    5057.1605
B    5057.0320
Name: gross income, dtype: float64

In [89]:
top_branch = profit_branches.idxmax()
# –ø–µ—Ä–µ–¥–∞—î –ø–µ—Ä—à–µ –∑–Ω–∞—á–µ–Ω–Ω—è –∑ Series

In [91]:
print("–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª —Ü–µ:\n", top_branch)

–ù–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–∏–π —Ñ—ñ–ª—ñ–∞–ª —Ü–µ:
 C

2. –í —è–∫–æ–º—É –º—ñ—Å—Ç—ñ –∑–Ω–∞–π—Ö–æ–¥–∏—Ç—å—Å—è —Ñ—ñ–ª—ñ–∞–ª –∑ –Ω–∞–π–≤–∏—â–∏–º –ø—Ä–∏–±—É—Ç–∫–æ–º? –ú–æ–∂–µ –≤ —Ç–æ–º—É –º—ñ—Å—Ü—ñ –Ω–∞–º —Ä–æ–∑–º—ñ—Ç–∏—Å—Ç–∏ —â–µ –æ–¥–∏–Ω –º–∞–≥–∞–∑–∏–Ω.  
–ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—å –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É Pandas.

In [94]:
city_of_top_branch = df[df['Branch'] == top_branch]['City'].iloc[0]
print("–ú—ñ—Å—Ç–æ –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–æ–≥–æ —Ñ—ñ–ª—ñ–∞–ª—É —Ü–µ:\n", city_of_top_branch)

–ú—ñ—Å—Ç–æ –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–æ–≥–æ —Ñ—ñ–ª—ñ–∞–ª—É —Ü–µ:
 Naypyitaw

### 2–π –≤–∞—Ä—ñ–∞–Ω—Ç

In [97]:
branch_city = df[['Branch', 'City']].drop_duplicates()
city_of_top_branch_2 = branch_city[branch_city['Branch'] == top_branch]['City'].values[0]
print("–ú—ñ—Å—Ç–æ –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–æ–≥–æ —Ñ—ñ–ª—ñ–∞–ª—É —Ü–µ:\n", city_of_top_branch_2)

–ú—ñ—Å—Ç–æ –Ω–∞–π–ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ—à–æ–≥–æ —Ñ—ñ–ª—ñ–∞–ª—É —Ü–µ:
 Naypyitaw

In [99]:
city_of_top_branch == city_of_top_branch_2

True

3.1. –°—Ç–≤–æ—Ä—ñ—Ç—å –∑–≤–æ–¥–Ω—É —Ç–∞–±–ª–∏—Ü—é, —è–∫–∞ –ø–æ–∫–∞–∂–µ, —Å–∫—ñ–ª—å–∫–∏ –ø–æ–∫—É–ø–æ–∫ (—ñ–Ω–≤–æ–π—Å—ñ–≤) –±—É–ª–æ –∑—Ä–æ–±–ª–µ–Ω–æ –≤ –∫–æ–∂–Ω—ñ–π –∑ —Ñ—ñ–ª—ñ–π (`Branch`) –∑–∞ —Ä—ñ–∑–Ω–∏–º–∏ –∫–∞—Ç–µ–≥–æ—Ä—ñ—è–º–∏ —Ç–æ–≤–∞—Ä—ñ–≤. –ó–∞–ø–∏—à—ñ—Ç—å —Ç–∞–±–ª–∏—Ü—é –≤ –∑–º—ñ–Ω–Ω—É `invoices_by_category` —ñ –≤–∏–≤–µ–¥—ñ—Ç—å –∑–º—ñ–Ω–Ω—É –Ω–∞ –µ–∫—Ä–∞–Ω.
–¶—è —Ç–∞–±–ª–∏—Ü—è –¥–æ–ø–æ–º–æ–∂–µ –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞—Ç–∏, –≤ —è–∫—ñ–π —Ñ—ñ–ª—ñ—ó –∫—É–ø—É—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à–µ —Ç–æ–≤–∞—Ä—ñ–≤ –∫–æ–∂–Ω–æ—ó –∑ –∫–∞—Ç–µ–≥–æ—Ä—ñ–π.

In [117]:
invoices_by_category = df.pivot_table(index='Branch', columns='Product line', values='Invoice ID', aggfunc='nunique')
invoices_by_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Branch,,,,,,
A,60,51,58,47,65,59
B,55,62,50,53,50,62
C,55,65,66,52,45,45

–û—á—ñ–∫—É–≤–∞–Ω–∏–π —Ä–µ–∑—É–ª—å—Ç–∞—Ç:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. –í–∏–∫—Ä–∏—Å—Ç–æ–≤—É—é—á–∏ –∑–º—ñ–Ω–Ω—É `invoices_by_category` –¥–∞–π—Ç–µ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –ø—Ä–æ–≥—Ä–∞–º–Ω–æ (—Ç–æ–±—Ç–æ –∑–Ω–∞—á–µ–Ω–Ω—è —Ç—Ä–µ–±–∞ –Ω–µ –ø—Ä–æ—Å—Ç–æ –∑–Ω–∞–π—Ç–∏ –æ—á–∏–º–∞, –∞ –≤–∏–≤–µ—Å—Ç–∏ –∑–∞ –¥–æ–ø–æ–º–æ–≥–æ—é –∫–æ–¥—É), –≤ —è–∫–æ–º—É —Ñ—ñ–ª—ñ–∞–ª—ñ –º–∞–≥–∞–∑–∏–Ω—É (`Branch`) –Ω–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó "–ï–ª–µ–∫—Ç—Ä–æ–Ω–Ω—ñ –∞–∫—Å–µ—Å—É–∞—Ä–∏" (`Electronic accessories`)?

In [133]:
best_elect_branch = invoices_by_category['Electronic accessories'].sort_values(ascending=False)
print("–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' —É —Ñ—ñ–ª—ñ–∞–ª—ñ:\n", best_elect_branch.idxmax())

–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Electronic accessories' —É —Ñ—ñ–ª—ñ–∞–ª—ñ:
 A

In [135]:
best_elect_branch = invoices_by_category['Fashion accessories'].sort_values(ascending=False)
print("–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Fashion accessories' —É —Ñ—ñ–ª—ñ–∞–ª—ñ:\n", best_elect_branch.idxmax())

–ù–∞–π–±—ñ–ª—å—à–µ —ñ–Ω–≤–æ–π—Å—ñ–≤ —ñ–∑ –ø–æ–∫—É–ø–∫–æ—é —Ç–æ–≤–∞—Ä—ñ–≤ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó 'Fashion accessories' —É —Ñ—ñ–ª—ñ–∞–ª—ñ:
 C

4-6. **–¢–≤–æ—Ä—á–µ –∑–∞–≤–¥–∞–Ω–Ω—è –Ω–∞ —Ä–æ–∑–≤–∏—Ç–æ–∫ –∞–Ω–∞–ª—ñ—Ç–∏—á–Ω–æ–≥–æ –º–∏—Å–ª–µ–Ω–Ω—è**

–ö—Ä–æ–∫ 1. –°—Ñ–æ—Ä–º—É–ª—é–π—Ç–µ –¢–†–ò –ø–∏—Ç–∞–Ω–Ω—è (–≥—ñ–ø–æ—Ç–µ–∑–∏) –¥–æ –Ω–∞—è–≤–Ω–∏—Ö –¥–∞–Ω–∏—Ö, —è–∫—ñ –¥–æ–ø–æ–º–æ–≥–ª–∏ –± –≤–∞–º –∑—Ä–æ–∑—É–º—ñ—Ç–∏, —è–∫—ñ –∫–æ—Ä–∏—Å—Ç—É–≤–∞—á—ñ —â–æ, –¥–µ —Ç–∞ –∫–æ–ª–∏ –Ω–∞–π–±—ñ–ª—å—à–µ/–Ω–∞–π–º–µ–Ω—à–µ –∫—É–ø—É—é—Ç—å, –∞–±–∏ –¥–∞—Ç–∏ –Ω–∞ –æ—Å–Ω–æ–≤—ñ —Ü–∏—Ö –≥—ñ–ø–æ—Ç–µ–∑ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó –±—ñ–∑–Ω–µ—Å—É. –ó–≤—ñ—Å–Ω–æ –ø–∏—Ç–∞–Ω–Ω—è –º–∞—é—Ç—å –±—É—Ç–∏ –Ω–µ —Ç–∏–º–∏, –Ω–∞ —è–∫—ñ –º–∏ –≤–∂–µ –≤—ñ–¥–ø–æ–≤—ñ–ª–∏ –≤ –∑–∞–≤–¥–∞–Ω–Ω—è—Ö –º–æ–¥—É–ª—é.

–ö—Ä–æ–∫ 2. –ó–Ω–∞–π–¥—ñ—Ç—å –≤—ñ–¥–ø–æ–≤—ñ–¥—ñ –Ω–∞ —Å–≤–æ—ó –ø–∏—Ç–∞–Ω–Ω—è –∑ –¥–æ–ø–æ–º–æ–≥–æ—é —Ñ—É–Ω–∫—Ü—ñ–æ–Ω–∞–ª—É pandas.

–ö—Ä–æ–∫ 3. –ù–∞–ø–∏—à—ñ—Ç—å, —è–∫ –≤—ñ–¥–ø–æ–≤—ñ–¥—å –Ω–∞ —Ü–µ –ø–∏—Ç–∞–Ω–Ω—è –º–æ–∂–µ –±—É—Ç–∏ –≤–∏–∫–æ—Ä–∏—Å—Ç–∞–Ω–∞ –¥–ª—è –ø—Ä–∏–π–Ω—è—Ç—Ç—è –±—ñ–∑–Ω–µ—Å —Ä—ñ—à–µ–Ω—å.   
   
 –ü–∏—Ç–∞–Ω–Ω—è –º–æ–∂—É—Ç—å –±—É—Ç–∏ –±—É–¥—å-—è–∫–æ—ó —Å–∫–ª–∞–¥–Ω–æ—Å—Ç—ñ, –∞–ª–µ —ó—Ö –º–∞—î –±—É—Ç–∏ 3. –ö–æ–∂–Ω–µ –ø–∏—Ç–∞–Ω–Ω—è –æ—Ü—ñ–Ω—é—î—Ç—å—Å—è —è–∫ 1 –∑–∞–≤–¥–∞–Ω–Ω—è. –ë–µ–∑ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è —Ü—å–æ–≥–æ –∑–∞–≤–¥–∞–Ω–Ω—è –î–ó –Ω–µ –ø—Ä–∏–π–º–∞—î—Ç—å—Å—è. –Ø–∫—â–æ —î –ø–∏—Ç–∞–Ω–Ω—è —â–æ–¥–æ –≤–∏–∫–æ–Ω–∞–Ω–Ω—è - –ø–∏—à—ñ—Ç—å —É —á–∞—Ç üôå

# –ì—ñ–ø–æ—Ç–µ–∑–∞ 1. 
## –Ø–∫—ñ —Ç–∏–ø–∏ –æ–ø–ª–∞—Ç –º–∞—é—Ç—å –Ω–∞–π–±—ñ–ª—å—à—ñ —á–µ–∫–∏ - Payment

In [166]:
df.groupby('Payment')['Total'].mean().sort_values(ascending=False)

Payment
Cash           326.181890
Credit card    324.009878
Ewallet        318.820600
Name: Total, dtype: float64

–í–∏—Å–Ω–æ–≤–æ–∫: –ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∏–ª–∞—Å—å.
–ù–µ–æ—á—ñ–∫—É–≤–∞–Ω–æ, –∞–ª–µ –Ω–∞–π–±—ñ–ª—å—à–∏–π –ø—Ä–∏–±—É—Ç–æ–∫ –ø—Ä–∏–Ω–æ—Å—è—Ç—å –∫–ª—ñ—î–Ω—Ç–∏, —è–∫—ñ –ø–ª–∞—Ç—è—Ç—å –≥–æ—Ç—ñ–≤–∫–æ—é. 

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó: 
- –ü—Ä–æ–ø–æ–Ω—É–≤–∞—Ç–∏ –∑–Ω–∏–∂–∫—É/–±–æ–Ω—É—Å–∏ –Ω–∞ —ñ–Ω—à—ñ –º–µ—Ç–æ–¥–∏ –æ–ø–ª–∞—Ç–∏, —â–æ–± –æ–ø—Ç–∏–º—ñ–∑—É–≤–∞—Ç–∏ –≤–∏—Ç—Ä–∞—Ç–∏ –Ω–∞ –æ–±—Å–ª—É–≥–æ–≤—É–≤–∞–Ω–Ω—è –≥–æ—Ç—ñ–≤–∫–æ—é.

# –ì—ñ–ø–æ—Ç–µ–∑–∞ 2. 
## –ö–æ–ª–∏ –ø—Ä–æ—Ç—è–≥–æ–º —Ç–∏–∂–Ω—è —Å–µ—Ä–µ–¥–Ω—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫ –Ω–∞–π–≤–∏—â–∏–π

In [160]:
df['Date'] = pd.to_datetime(df['Date'])
df['Day of Week'] = df['Date'].dt.day_name()

In [162]:
df.groupby('Day of Week')['gross income'].mean().sort_values(ascending=False)

Day of Week
Saturday     16.295241
Sunday       15.917613
Thursday     15.648464
Tuesday      15.516047
Friday       15.048421
Wednesday    14.562483
Monday       14.437744
Name: gross income, dtype: float64

–í–∏—Å–Ω–æ–≤–æ–∫: 
–ì—ñ–ø–æ—Ç–µ–∑–∞ –ø—ñ–¥—Ç–≤–µ—Ä–¥–∏–ª–∞—Å—è. –£ –≤–∏—Ö—ñ–¥–Ω—ñ –¥–Ω—ñ –∫–ª—ñ—î–Ω—Ç–∏ –≤–∏—Ç—Ä–∞—á–∞—é—Ç—å –±—ñ–ª—å—à–µ, —Ç–æ–∂ —Å–µ—Ä–µ–¥–Ω—ñ–π –ø—Ä–∏–±—É—Ç–æ–∫ –≤–∏—â–∏–π.
- –ù–∞–π–≤–∏—â–∏–π –ø—Ä–∏–±—É—Ç–æ–∫: –°—É–±–æ—Ç–∞ (16.30) —ñ –ù–µ–¥—ñ–ª—è (15.92)
- –ù–∞–π–Ω–∏–∂—á–∏–π –ø—Ä–∏–±—É—Ç–æ–∫: –ü–æ–Ω–µ–¥—ñ–ª–æ–∫ (14.44) —ñ –°–µ—Ä–µ–¥–∞ (14.56)

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
- –ó–∞–ø—É—Å–∫–∞—Ç–∏ –∞–∫—Ü—ñ—ó –Ω–∞ –≤–∏—Ö—ñ–¥–Ω—ñ, —â–æ–± —â–µ –±—ñ–ª—å—à–µ –ø—ñ–¥–≤–∏—â–∏—Ç–∏ –ø—Ä–∏–±—É—Ç–æ–∫.
- –£ –º–µ–Ω—à –ø—Ä–∏–±—É—Ç–∫–æ–≤—ñ –¥–Ω—ñ (–Ω–∞–ø—Ä–∏–∫–ª–∞–¥, –ø–æ–Ω–µ–¥—ñ–ª–æ–∫) –≤–∞—Ä—Ç–æ –ø—Ä–æ–≤–æ–¥–∏—Ç–∏ —Å–ø–µ—Ü—ñ–∞–ª—å–Ω—ñ –ø—Ä–æ–ø–æ–∑–∏—Ü—ñ—ó, –∑–Ω–∏–∂–∫–∏ –∞–±–æ –ø–æ–¥—ñ—ó, —â–æ–± –∑–±—ñ–ª—å—à–∏—Ç–∏ –ø–æ—Ç—ñ–∫ –∫–ª—ñ—î–Ω—Ç—ñ–≤.

# –ì—ñ–ø–æ—Ç–µ–∑–∞ 3.
## –©–æ –∫—É–ø—É—é—Ç—å –Ω–∞–π—á–∞—Å—Ç—ñ—à–µ –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ —Å—Ç–∞—Ç—ñ?

In [178]:
hyposes_by_gender_category = df.pivot_table(index='Gender', columns='Product line', values='Invoice ID', aggfunc='count')
hyposes_by_gender_category

Product line,Electronic accessories,Fashion accessories,Food and beverages,Health and beauty,Home and lifestyle,Sports and travel
Gender,,,,,,
Female,84,96,90,64,79,88
Male,86,82,84,88,81,78

In [186]:
hyposes_by_gender_category.loc['Female'].sort_values(ascending=False).head(3)

Product line
Fashion accessories    96
Food and beverages     90
Sports and travel      88
Name: Female, dtype: int64

In [188]:
hyposes_by_gender_category.loc['Male'].sort_values(ascending=False).head(3)

Product line
Health and beauty         88
Electronic accessories    86
Food and beverages        84
Name: Male, dtype: int64

–í–∏—Å–Ω–æ–≤–∫–∏:
–Ø –ø—Ä–æ–∞–Ω–∞–ª—ñ–∑—É–≤–∞–ª–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—å –ø—Ä–æ–¥–∞–Ω–∏—Ö –æ–¥–∏–Ω–∏—Ü—å —Ç–æ–≤–∞—Ä—ñ–≤ —É —Ä—ñ–∑–Ω–∏—Ö –∫–∞—Ç–µ–≥–æ—Ä—ñ—è—Ö –∑–∞–ª–µ–∂–Ω–æ –≤—ñ–¥ —Å—Ç–∞—Ç—ñ –ø–æ–∫—É–ø—Ü—ñ–≤.
–ñ—ñ–Ω–∫–∏ –±—ñ–ª—å—à–µ –∫—É–ø—É—é—Ç—å –∞–∫—Å–µ—Å—É–∞—Ä–∏ —Ç–∞ —Å–ø–æ—Ä—Ç–∏–≤–Ω—ñ —Ç–æ–≤–∞—Ä–∏, –∞ —á–æ–ª–æ–≤—ñ–∫–∏ ‚Äî –µ–ª–µ–∫—Ç—Ä–æ–Ω—ñ–∫—É —Ç–∞ –∑–∞—Å–æ–±–∏ –¥–æ–≥–ª—è–¥—É.
–•–æ—á–∏ –º–∏ –º–æ–∂–µ–º–æ –±–∞—á–∏—Ç–∏ —â–æ —ñ –≤ —Ç—ñ–π, —ñ –≤ —ñ–Ω—à—ñ–π –≥—Ä—É–ø—ñ –≤ —Ç–æ–ø-3 –≤—Ö–æ–¥–∏—Ç—å –∫–∞—Ç–µ–≥–æ—Ç—ñ—è Food and beverages

–†–µ–∑—É–ª—å—Ç–∞—Ç–∏ (—Ç–æ–ø-3 –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –∑–∞ –∫—ñ–ª—å–∫—ñ—Å—Ç—é –ø–æ–∫—É–ø–æ–∫):
- –ñ—ñ–Ω–∫–∏ (Female):
  1. Fashion accessories ‚Äî 96 –æ–¥–∏–Ω–∏—Ü—å
  2. Food and beverages ‚Äî 90 –æ–¥–∏–Ω–∏—Ü—å
  3. Sports and travel ‚Äî 88 –æ–¥–∏–Ω–∏—Ü—å
- –ß–æ–ª–æ–≤—ñ–∫–∏ (Male):
  1. Health and beauty ‚Äî 88 –æ–¥–∏–Ω–∏—Ü—å
  2. Electronic accessories ‚Äî 86 –æ–¥–∏–Ω–∏—Ü—å
  3. Food and beverages ‚Äî 84 –æ–¥–∏–Ω–∏—Ü—å

–†–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó:
- –†–æ–∑—Ä–æ–±–∏—Ç–∏ —Ç–∞—Ä–≥–µ—Ç–æ–≤–∞–Ω—ñ –º–∞—Ä–∫–µ—Ç–∏–Ω–≥–æ–≤—ñ –∫–∞–º–ø–∞–Ω—ñ—ó, —è–∫—ñ –ø—ñ–¥–∫—Ä–µ—Å–ª—é—é—Ç—å –ø–æ–ø—É–ª—è—Ä–Ω—ñ –∫–∞—Ç–µ–≥–æ—Ä—ñ—ó –¥–ª—è –∫–æ–∂–Ω–æ—ó —Å—Ç–∞—Ç—ñ.
- –§–æ—Ä–º—É–≤–∞—Ç–∏ –ø–µ—Ä—Å–æ–Ω–∞–ª—ñ–∑–æ–≤–∞–Ω—ñ —Ä–µ–∫–æ–º–µ–Ω–¥–∞—Ü—ñ—ó —Ç–æ–≤–∞—Ä—ñ–≤ —É —ñ–Ω—Ç–µ—Ä–Ω–µ—Ç-–º–∞–≥–∞–∑–∏–Ω—ñ.